# Trial balancing tests

Specifically for groups 2 and 3 where multiple speakers are present

In [1]:
from itertools import permutations, product
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/Erik/Documents/01_Paris/01_Thesis/04_Wordlists/01_Selected/00_NG_Pairs.txt", sep = ",")
df.head()

   Word1  Word2  Pair  Contrast
0  κάπου  κήπου     1         1
1   κήπο   κόπο     2         1
2  κύβος  κάβος     3         1
3  κάπας  τάπας     1         2
4  κάπες  τάπες     2         2

In [2]:
dfDup = df
dfDup['Word3'] = dfDup.loc[:, 'Word1']
dfDup['Word4'] = dfDup.loc[:, 'Word1']
dfDup

    Word1  Word2  Pair  Contrast  Word3  Word4
0   κάπου  κήπου     1         1  κάπου  κάπου
1    κήπο   κόπο     2         1   κήπο   κήπο
2   κύβος  κάβος     3         1  κύβος  κύβος
3   κάπας  τάπας     1         2  κάπας  κάπας
4   κάπες  τάπες     2         2  κάπες  κάπες
..    ...    ...   ...       ...    ...    ...
85  δώσει  ζώσει     4         0  δώσει  δώσει
86     θα     να     4         0     θα     θα
87   ζέψε   νέψε     4         0   ζέψε   ζέψε
88   νίκη   δίκη     4         0   νίκη   νίκη
89   νόμο   δόμο     4         0   νόμο   νόμο

[90 rows x 6 columns]

## Pairs lists for the groups

In [3]:
# Creating the lists of pairs
# a = 1,2 b = 2,3 c = 1,3
pairsA = dfDup.loc[dfDup['Pair'].isin([1,2,4])]
pairsB = dfDup.loc[dfDup['Pair'].isin([2,3,4])]
pairsC = dfDup.loc[dfDup['Pair'].isin([1,3,4])]

# Create frames with just the Contrast column to shove back on later
only_ContrastA = pairsA.reset_index()
only_ContrastB = pairsB.reset_index()
only_ContrastC = pairsC.reset_index()

pairsA.head()

   Word1  Word2  Pair  Contrast  Word3  Word4
0  κάπου  κήπου     1         1  κάπου  κάπου
1   κήπο   κόπο     2         1   κήπο   κήπο
3  κάπας  τάπας     1         2  κάπας  κάπας
4  κάπες  τάπες     2         2  κάπες  κάπες
6  κέντα  τέντα     1         3  κέντα  κέντα

In [ ]:
only_ContrastA = only_ContrastA['Contrast']
only_ContrastA.head()

### Randomize the position of the distinct word

Read in the randomized and manually balanced sheets.

In [4]:
# Reading the balanced sheets
pairsA_shuff = pd.read_csv("/Users/Erik/Documents/01_Paris/01_Thesis/07_Scripts/01_Python/Balanced expected/manualPairsA.csv", sep = ",")
pairsB_shuff = pd.read_csv("/Users/Erik/Documents/01_Paris/01_Thesis/07_Scripts/01_Python/Balanced expected/manualPairsB.csv", sep = ",")
pairsC_shuff = pd.read_csv("/Users/Erik/Documents/01_Paris/01_Thesis/07_Scripts/01_Python/Balanced expected/manualPairsC.csv", sep = ",")

pairsA_shuff.head()

   Word1  Word2  Word3  Word4 Expected
0  κάπου  κάπου  κήπου  κάπου        m
1   κήπο   κήπο   κήπο   κόπο        m
2  κάπας  κάπας  τάπας  κάπας        m
3  τάπες  κάπες  κάπες  κάπες        z
4  κέντα  κέντα  τέντα  κέντα        m

In [ ]:
pairsA_shuff.head()

In [5]:
# Shove the contrast column back on
pairsA_shuff = pairsA_shuff.join(only_ContrastA['Contrast'], how="left")
pairsB_shuff = pairsB_shuff.join(only_ContrastB['Contrast'], how="left")
pairsC_shuff = pairsC_shuff.join(only_ContrastC['Contrast'], how="left")

pairsA_shuff.head()

   Word1  Word2  Word3  Word4 Expected  Contrast
0  κάπου  κάπου  κήπου  κάπου        m         1
1   κήπο   κήπο   κήπο   κόπο        m         1
2  κάπας  κάπας  τάπας  κάπας        m         2
3  τάπες  κάπες  κάπες  κάπες        z         2
4  κέντα  κέντα  τέντα  κέντα        m         3

## Group 2 speaker lists

In [7]:
# Group 2 lists
# CM1 = CM3, CM2 = CM6

keys2a = ['AF1', 'AF2', 'AM1', 'AM2']
keys2b = ['TF1', 'TM1', 'TF2', 'TM2']
keys2c = ['CF1', 'CM6', 'CF2', 'CM3']

# Finds every possible ordering of the elements in keys, without repeating an ordering
# 6 combinations, each combination appears 12 times to make 72 trials
# trials = list(permutations(keys, 3))
# print(trials)

# Create the basic ordering possibilities for each group, 6 combinations
speakers2a = pd.DataFrame(list(permutations(keys2a, 4)), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])

speakers2b = pd.DataFrame(list(permutations(keys2b, 4)), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])

speakers2c = pd.DataFrame(list(permutations(keys2c, 4)), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])

In [9]:
speakers2a

   speaker1 speaker2 speaker3 speaker4
0       AF1      AF2      AM1      AM2
1       AF1      AF2      AM2      AM1
2       AF1      AM1      AF2      AM2
3       AF1      AM1      AM2      AF2
4       AF1      AM2      AF2      AM1
5       AF1      AM2      AM1      AF2
6       AF2      AF1      AM1      AM2
7       AF2      AF1      AM2      AM1
8       AF2      AM1      AF1      AM2
9       AF2      AM1      AM2      AF1
10      AF2      AM2      AF1      AM1
11      AF2      AM2      AM1      AF1
12      AM1      AF1      AF2      AM2
13      AM1      AF1      AM2      AF2
14      AM1      AF2      AF1      AM2
15      AM1      AF2      AM2      AF1
16      AM1      AM2      AF1      AF2
17      AM1      AM2      AF2      AF1
18      AM2      AF1      AF2      AM1
19      AM2      AF1      AM1      AF2
20      AM2      AF2      AF1      AM1
21      AM2      AF2      AM1      AF1
22      AM2      AM1      AF1      AF2
23      AM2      AM1      AF2      AF1

### Generate and randomize the full set of 72 trials

In [10]:
# Repeat the original 24 permutations 3 times to get 72 trials, randomize the order
sp2a = pd.DataFrame(np.repeat(speakers2a.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
sp2a = sp2a.sample(frac = 1, ignore_index = True)
sp2a

sp2b = pd.DataFrame(np.repeat(speakers2b.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
sp2b = sp2b.sample(frac = 1, ignore_index = True)
sp2b

sp2c = pd.DataFrame(np.repeat(speakers2c.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
sp2c = sp2c.sample(frac = 1, ignore_index = True)
sp2c

   speaker1 speaker2 speaker3 speaker4
0       CM6      CF2      CF1      CM3
1       CM3      CF2      CF1      CM6
2       CM3      CF2      CM6      CF1
3       CM3      CM6      CF2      CF1
4       CF1      CM3      CF2      CM6
..      ...      ...      ...      ...
67      CM3      CF1      CF2      CM6
68      CF2      CM6      CM3      CF1
69      CM3      CF2      CM6      CF1
70      CM6      CF1      CM3      CF2
71      CF2      CF1      CM6      CM3

[72 rows x 4 columns]

## Group 3 speaker lists

In [11]:
# Group 3 lists

# Indexes for blocks 3a = 0:2, 3b = 3:5, 3c = 6:8
keys3 = pd.read_csv("group3_4speakers.txt", sep = ",")
keys3.head()

  Speaker1 Speaker2 Speaker3 Speaker4
0      AF1      TM1      CM6      AF2
1      TF1      CM3      AM2      TF2
2      CF1      AM1      TM2      CF2
3      TF1      CM3      AF2      AM2
4      CF1      AM1      TF2      TM2

In [12]:
# Group 3a, all blocks
# pd.DataFrame(list(permutations(keys2c, 3)), columns=['speaker1', 'speaker2', 'speaker3'])
b13a = pd.DataFrame(permutations(keys3.iloc[0], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b23a = pd.DataFrame(permutations(keys3.iloc[1], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b33a = pd.DataFrame(permutations(keys3.iloc[2], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b23a

   speaker1 speaker2 speaker3 speaker4
0       TF1      CM3      AM2      TF2
1       TF1      CM3      TF2      AM2
2       TF1      AM2      CM3      TF2
3       TF1      AM2      TF2      CM3
4       TF1      TF2      CM3      AM2
5       TF1      TF2      AM2      CM3
6       CM3      TF1      AM2      TF2
7       CM3      TF1      TF2      AM2
8       CM3      AM2      TF1      TF2
9       CM3      AM2      TF2      TF1
10      CM3      TF2      TF1      AM2
11      CM3      TF2      AM2      TF1
12      AM2      TF1      CM3      TF2
13      AM2      TF1      TF2      CM3
14      AM2      CM3      TF1      TF2
15      AM2      CM3      TF2      TF1
16      AM2      TF2      TF1      CM3
17      AM2      TF2      CM3      TF1
18      TF2      TF1      CM3      AM2
19      TF2      TF1      AM2      CM3
20      TF2      CM3      TF1      AM2
21      TF2      CM3      AM2      TF1
22      TF2      AM2      TF1      CM3
23      TF2      AM2      CM3      TF1

In [13]:
# Group 3b, all blocks
b13b = pd.DataFrame(permutations(keys3.iloc[3], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b23b = pd.DataFrame(permutations(keys3.iloc[4], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b33b = pd.DataFrame(permutations(keys3.iloc[5], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b33b

   speaker1 speaker2 speaker3 speaker4
0       AF1      TM1      CF2      CM6
1       AF1      TM1      CM6      CF2
2       AF1      CF2      TM1      CM6
3       AF1      CF2      CM6      TM1
4       AF1      CM6      TM1      CF2
5       AF1      CM6      CF2      TM1
6       TM1      AF1      CF2      CM6
7       TM1      AF1      CM6      CF2
8       TM1      CF2      AF1      CM6
9       TM1      CF2      CM6      AF1
10      TM1      CM6      AF1      CF2
11      TM1      CM6      CF2      AF1
12      CF2      AF1      TM1      CM6
13      CF2      AF1      CM6      TM1
14      CF2      TM1      AF1      CM6
15      CF2      TM1      CM6      AF1
16      CF2      CM6      AF1      TM1
17      CF2      CM6      TM1      AF1
18      CM6      AF1      TM1      CF2
19      CM6      AF1      CF2      TM1
20      CM6      TM1      AF1      CF2
21      CM6      TM1      CF2      AF1
22      CM6      CF2      AF1      TM1
23      CM6      CF2      TM1      AF1

In [14]:
# Group 3c, all blocks
b13c = pd.DataFrame(permutations(keys3.iloc[6], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b23c = pd.DataFrame(permutations(keys3.iloc[7], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b33c = pd.DataFrame(permutations(keys3.iloc[8], 4), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
b13c

   speaker1 speaker2 speaker3 speaker4
0       CF1      AM2      TF2      AM1
1       CF1      AM2      AM1      TF2
2       CF1      TF2      AM2      AM1
3       CF1      TF2      AM1      AM2
4       CF1      AM1      AM2      TF2
5       CF1      AM1      TF2      AM2
6       AM2      CF1      TF2      AM1
7       AM2      CF1      AM1      TF2
8       AM2      TF2      CF1      AM1
9       AM2      TF2      AM1      CF1
10      AM2      AM1      CF1      TF2
11      AM2      AM1      TF2      CF1
12      TF2      CF1      AM2      AM1
13      TF2      CF1      AM1      AM2
14      TF2      AM2      CF1      AM1
15      TF2      AM2      AM1      CF1
16      TF2      AM1      CF1      AM2
17      TF2      AM1      AM2      CF1
18      AM1      CF1      AM2      TF2
19      AM1      CF1      TF2      AM2
20      AM1      AM2      CF1      TF2
21      AM1      AM2      TF2      CF1
22      AM1      TF2      CF1      AM2
23      AM1      TF2      AM2      CF1

### Generate full sets

In [15]:
### Group 3A
full_b13a = pd.DataFrame(np.repeat(b13a.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b13a = full_b13a.sample(frac = 1, ignore_index = True)

full_b23a = pd.DataFrame(np.repeat(b23a.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b23a = full_b23a.sample(frac = 1, ignore_index = True)

full_b33a = pd.DataFrame(np.repeat(b33a.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b33a = full_b33a.sample(frac = 1, ignore_index = True)

### Group 3B
full_b13b = pd.DataFrame(np.repeat(b13b.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b13b = full_b13b.sample(frac = 1, ignore_index = True)

full_b23b = pd.DataFrame(np.repeat(b23b.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b23b = full_b23b.sample(frac = 1, ignore_index = True)

full_b33b = pd.DataFrame(np.repeat(b33b.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b33b = full_b33b.sample(frac = 1, ignore_index = True)

### Group 3C
full_b13c = pd.DataFrame(np.repeat(b13c.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b13c = full_b13c.sample(frac = 1, ignore_index = True)

full_b23c = pd.DataFrame(np.repeat(b23c.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b23c = full_b23c.sample(frac = 1, ignore_index = True)

full_b33c = pd.DataFrame(np.repeat(b33c.values, 3, axis=0), columns=['speaker1', 'speaker2', 'speaker3', 'speaker4'])
# Randomize the order of the rows, reset the index
full_b33c = full_b33c.sample(frac = 1, ignore_index = True)

## Merging the final trials

Taking the generated speaker lists and merging with the word lists to create the final table in the format of Speaker_Word(.wav)

In [16]:
# Group 1
# For some reason this is also modifying pairsA_shuff
## Run this last?
trials1a = pairsA_shuff.copy()
trials1a['Word1'] = 'AF1_' + trials1a['Word1'].astype(str)
trials1a['Word2'] = 'AF1_' + trials1a['Word2'].astype(str)
trials1a['Word3'] = 'AF1_' + trials1a['Word3'].astype(str)
trials1a['Word4'] = 'AF1_' + trials1a['Word4'].astype(str)
trials1a.to_csv('4sp_trials1a.csv', index=False)

trials1b = pairsB_shuff.copy()
trials1b['Word1'] = 'TF1_' + trials1b['Word1'].astype(str)
trials1b['Word2'] = 'TF1_' + trials1b['Word2'].astype(str)
trials1b['Word3'] = 'TF1_' + trials1b['Word3'].astype(str)
trials1b['Word4'] = 'TF1_' + trials1b['Word4'].astype(str)
trials1b.to_csv('4sp_trials1b.csv', index=False)

trials1c = pairsC_shuff.copy()
trials1c['Word1'] = 'CF1_' + trials1c['Word1'].astype(str)
trials1c['Word2'] = 'CF1_' + trials1c['Word2'].astype(str)
trials1c['Word3'] = 'CF1_' + trials1c['Word3'].astype(str)
trials1c['Word4'] = 'CF1_' + trials1c['Word4'].astype(str)
trials1c.to_csv('4sp_trials1c.csv', index=False)

In [17]:
pairsA_shuff.head()

   Word1  Word2  Word3  Word4 Expected  Contrast
0  κάπου  κάπου  κήπου  κάπου        m         1
1   κήπο   κήπο   κήπο   κόπο        m         1
2  κάπας  κάπας  τάπας  κάπας        m         2
3  τάπες  κάπες  κάπες  κάπες        z         2
4  κέντα  κέντα  τέντα  κέντα        m         3

### Group 2 trials

In [18]:
### Compiling the trial lists for OS
## word lists: pairsA_shuff, pairsB_shuff, pairsC_shuff
## group 2: sp2a, sp2b, sp2c
## group 3: full_b13a, full_b13b, full_b13c
#list2a.head()

## 2a
group2a = pd.concat([sp2a, pairsA_shuff], ignore_index=False, axis=1)
trials2a = pd.DataFrame()
trials2a['first_sound'] = group2a[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials2a['second_sound'] = group2a[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials2a['third_sound'] = group2a[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials2a['fourth_sound'] = group2a[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials2a = trials2a.join(pairsA_shuff['Expected'], how="left")
trials2a = trials2a.join(pairsA_shuff['Contrast'], how="left")

## 2b
group2b = pd.concat([sp2b, pairsB_shuff], ignore_index=False, axis=1)
trials2b = pd.DataFrame()
trials2b['first_sound'] = group2b[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials2b['second_sound'] = group2b[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials2b['third_sound'] = group2b[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials2b['fourth_sound'] = group2b[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials2b = trials2b.join(pairsB_shuff['Expected'], how="left")
trials2b = trials2b.join(pairsB_shuff['Contrast'], how="left")

## 2c
group2c = pd.concat([sp2c, pairsC_shuff], ignore_index=False, axis=1)
trials2c = pd.DataFrame()
trials2c['first_sound'] = group2c[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials2c['second_sound'] = group2c[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials2c['third_sound'] = group2c[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials2c['fourth_sound'] = group2c[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials2c = trials2c.join(pairsC_shuff['Expected'], how="left")
trials2c = trials2c.join(pairsC_shuff['Contrast'], how="left")

trials2a.to_csv('4sp_trials2a.csv', index=False)
trials2b.to_csv('4sp_trials2b.csv', index=False)
trials2c.to_csv('4sp_trials2c.csv', index=False)

In [ ]:
trials2a = trials2a.join(pairsA_shuff['Contrast'], how="left")
trials2a.head()

### Group 3 a trials

In [19]:
## group 3: full_b13a, full_b13b, full_b13c
## 3a
print(len(pairsA_shuff))
group3aB1 = pd.concat([full_b13a, pairsA_shuff], ignore_index=False, axis=1)
group3aB2 = pd.concat([full_b23a, pairsA_shuff], ignore_index=False, axis=1)
group3aB3 = pd.concat([full_b33a, pairsA_shuff], ignore_index=False, axis=1)

### b1
trials3aB1 = pd.DataFrame()
trials3aB1['first_sound'] = group3aB1[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3aB1['second_sound'] = group3aB1[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3aB1['third_sound'] = group3aB1[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3aB1['fourth_sound'] = group3aB1[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3aB1 = trials3aB1.join(pairsA_shuff['Expected'], how="left")
trials3aB1 = trials3aB1.join(pairsA_shuff['Contrast'], how="left")

### b2
trials3aB2 = pd.DataFrame()
trials3aB2['first_sound'] = group3aB2[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3aB2['second_sound'] = group3aB2[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3aB2['third_sound'] = group3aB2[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3aB2['fourth_sound'] = group3aB2[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3aB2 = trials3aB2.join(pairsA_shuff['Expected'], how="left")
trials3aB2 = trials3aB2.join(pairsA_shuff['Contrast'], how="left")

### b3
trials3aB3 = pd.DataFrame()
trials3aB3['first_sound'] = group3aB3[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3aB3['second_sound'] = group3aB3[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3aB3['third_sound'] = group3aB3[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3aB3['fourth_sound'] = group3aB3[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3aB3 = trials3aB3.join(pairsA_shuff['Expected'], how="left")
trials3aB3 = trials3aB3.join(pairsA_shuff['Contrast'], how="left")

72

### Group 3 b trials

In [20]:
## 3b
print(len(pairsB_shuff))
group3bB1 = pd.concat([full_b13b, pairsB_shuff], ignore_index=False, axis=1)
group3bB2 = pd.concat([full_b23b, pairsB_shuff], ignore_index=False, axis=1)
group3bB3 = pd.concat([full_b33b, pairsB_shuff], ignore_index=False, axis=1)

### b1
trials3bB1 = pd.DataFrame()
trials3bB1['first_sound'] = group3bB1[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3bB1['second_sound'] = group3bB1[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3bB1['third_sound'] = group3bB1[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3bB1['fourth_sound'] = group3bB1[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3bB1 = trials3bB1.join(pairsB_shuff['Expected'], how="left")
trials3bB1 = trials3bB1.join(pairsB_shuff['Contrast'], how="left")

### b2
trials3bB2 = pd.DataFrame()
trials3bB2['first_sound'] = group3bB2[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3bB2['second_sound'] = group3bB2[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3bB2['third_sound'] = group3bB2[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3bB2['fourth_sound'] = group3bB2[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3bB2 = trials3bB2.join(pairsB_shuff['Expected'], how="left")
trials3bB2 = trials3bB2.join(pairsB_shuff['Contrast'], how="left")

### b3
trials3bB3 = pd.DataFrame()
trials3bB3['first_sound'] = group3bB3[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3bB3['second_sound'] = group3bB3[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3bB3['third_sound'] = group3bB3[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3bB3['fourth_sound'] = group3bB3[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3bB3 = trials3bB3.join(pairsB_shuff['Expected'], how="left")
trials3bB3 = trials3bB3.join(pairsB_shuff['Contrast'], how="left")

72

### Group 3 c trials

In [21]:
## 3c
group3cB1 = pd.concat([full_b13c, pairsC_shuff], ignore_index=False, axis=1)
group3cB2 = pd.concat([full_b23c, pairsC_shuff], ignore_index=False, axis=1)
group3cB3 = pd.concat([full_b33c, pairsC_shuff], ignore_index=False, axis=1)

### b1
trials3cB1 = pd.DataFrame()
trials3cB1['first_sound'] = group3cB1[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3cB1['second_sound'] = group3cB1[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3cB1['third_sound'] = group3cB1[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3cB1['fourth_sound'] = group3cB1[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3cB1 = trials3cB1.join(pairsC_shuff['Expected'], how="left")
trials3cB1 = trials3cB1.join(pairsC_shuff['Contrast'], how="left")

### b2
trials3cB2 = pd.DataFrame()
trials3cB2['first_sound'] = group3cB2[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3cB2['second_sound'] = group3cB2[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3cB2['third_sound'] = group3cB2[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3cB2['fourth_sound'] = group3cB2[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3cB2 = trials3cB2.join(pairsC_shuff['Expected'], how="left")
trials3cB2 = trials3cB2.join(pairsC_shuff['Contrast'], how="left")

### b3
trials3cB3 = pd.DataFrame()
trials3cB3['first_sound'] = group3cB3[['speaker1', 'Word1']].agg('_'.join, axis=1)
trials3cB3['second_sound'] = group3cB3[['speaker2', 'Word2']].agg('_'.join, axis=1)
trials3cB3['third_sound'] = group3cB3[['speaker3', 'Word3']].agg('_'.join, axis=1)
trials3cB3['fourth_sound'] = group3cB3[['speaker4', 'Word4']].agg('_'.join, axis=1)
trials3cB3 = trials3cB3.join(pairsC_shuff['Expected'], how="left")
trials3cB3 = trials3cB3.join(pairsC_shuff['Contrast'], how="left")

In [22]:
trials3aB1.to_csv('4sp_trials3aB1.csv', index=False)
trials3aB2.to_csv('4sp_trials3aB2.csv', index=False)
trials3aB3.to_csv('4sp_trials3aB3.csv', index=False)
trials3bB1.to_csv('4sp_trials3bB1.csv', index=False)
trials3bB2.to_csv('4sp_trials3bB2.csv', index=False)
trials3bB3.to_csv('4sp_trials3bB3.csv', index=False)
trials3cB1.to_csv('4sp_trials3cB1.csv', index=False)
trials3cB2.to_csv('4sp_trials3cB2.csv', index=False)
trials3cB3.to_csv('4sp_trials3cB3.csv', index=False)